In [1]:
import pandas as pd


shapes = pd.read_pickle("./cache/analyze_shapes_in_masks.pkl")

shapes

        index       image_id  num_shapes shape_sizes
0           2  000155de5.jpg           1      [3388]
1           3  000194a2d.jpg           1       [177]
2           4  000194a2d.jpg           1       [148]
3           5  000194a2d.jpg           1       [480]
4           6  000194a2d.jpg           1         [7]
...       ...            ...         ...         ...
81718  231694  fff909871.jpg           1       [401]
81719  231709  fffcb6464.jpg           1       [902]
81720  231712  fffd924fb.jpg           1        [30]
81721  231713  fffd924fb.jpg           1       [128]
81722  231714  fffdd2377.jpg           1      [4476]

[81723 rows x 4 columns]

In [2]:
import numpy as np

all_areas = np.concatenate(shapes["shape_sizes"].values)

summary = {
    "count": len(all_areas),
    "min": np.min(all_areas),
    "max": np.max(all_areas),
    "mean": np.mean(all_areas),
    "median": np.median(all_areas),
    "p5": np.percentile(all_areas, 5),
    "p25": np.percentile(all_areas, 25),
    "p75": np.percentile(all_areas, 75),
    "p95": np.percentile(all_areas, 95),
}

summary

{'count': 82238,
 'min': np.int64(1),
 'max': np.int64(25904),
 'mean': np.float64(1557.5872832510518),
 'median': np.float64(402.0),
 'p5': np.float64(33.0),
 'p25': np.float64(108.0),
 'p75': np.float64(1538.0),
 'p95': np.float64(7488.0)}